<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
            <img class="foto-perfil" src="../../../assets/foto-perfil.png" alt="Foto de perfil">
		</div>
		<div class="col-md-4 info">
            <h1>Dini Leandro</h1>
            <p>Desarrollador Independiente...</p>
		</div>
		<div class="col-md-6 info">
            <h4>Me</h4>
            <p>Hola,soy un programador apasionado. Tengo una gran habilidad para escribir código y desarrollar soluciones informáticas eficientes y efectivas. Me encanta resolver problemas y encontrar soluciones creativas a través de la programación. Me esfuerzo por mantenerme actualizado con las últimas tecnologías y tendencias en el campo de la programación, y siempre estoy buscando nuevos desafíos y oportunidades para crecer como profesional. Estoy ansioso por trabajar en proyectos interesantes y colaborar con otros programadores talentosos para crear cosas realmente sorprendentes.</p>
        </div>
	</div>
</div>