<div class="container-fluid component-header">
	<div class="row">
		<div class="col-md-2">
            <div class="component-header">
                <img src="../../../assets/logo_arg.png" alt="Logo Argentina Programa">
            </div>
		</div>
		<div class="offset-4 col-md-4 logo" >
			<div class="row">
				<div class="col-md-2">
                    <div class="logo">
                        <a href=""><img src="../../../assets/facebook.png" alt="Logo Facebook"></a>
                    </div>
				</div>
				<div class="col-md-2">
                    <div class="logo">
                        <a href=""><img src="../../../assets/github.png" alt="Logo github"></a>
                    </div>
				</div>
				<div class="col-md-2">
                    <div class="logo">
                        <a href=""><img src="../../../assets/instagram.png" alt="Logo instagram"></a>
                    </div>
				</div>
				<div class="col-md-2">
                    <div class="logo">
                        <a href=""><img src="../../../assets/linkedin.png" alt="Logo linkedin>"></a>
                    </div>
				</div>
				<div class="col-md-2">
                    <div class="logo">
                        <a href=""><img src="../../../assets/twitter.png" alt="Logo twitter"></a>
                    </div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
            <div class="logo">
                <a href=""><img src="../../../assets/accesible.png" alt="login"></a>
            </div>
		</div>
	</div>
</div>


