<div class="container-fluid component-header">
	<div class="row">
		<div class="col-1">
                <img src="../../../assets/logo_arg.png" alt="Logo Argentina Programa">
		</div>
        <div class="col-4 img-info">
            <a href=""><img src="../../../assets/whatsapp.png" alt="Logo Facebook"></a>
            <a href=""><img src="../../../assets/linkedin.png" alt="Logo linkedin>"></a>
            <a href=""><img src="../../../assets/github.png" alt="Logo github"></a>
            <a href=""><img src="../../../assets/instagram.png" alt="Logo instagram"></a>
        </div>

        <div class="offset-5 col-1 login">
            <a (click)="login()">Ingresar</a>
        </div>
        <div class=" col-1 login">
            <a (click)="login()">Registrarse</a>
        </div>

	</div>
</div>


