.component-header{
    background-color: black;
    height: 50px;
}

.component-header img{
    height: 50px;
    display:inline-block;
}

.img-info img{
    height: 35px;
    margin-top: 5px;
    margin-left: 10px;
}


.login {
    color: aliceblue;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
  }

.login a {
    border: 1px aliceblue solid;
    
}